# MySQL Configuration
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=ebookstore_db
MYSQL_USER=admin
MYSQL_PASSWORD=admin_pass
MYSQL_PORT=3306

# Read-only user for reports
DB_USER_READ=relatorio_user
DB_PASS_READ=relatorio_pass

# Application Config
NODE_ENV=development
API_PORT=3000
RELATORIOS_PORT=3001
